/* app css stylesheet */

header {
	background-color: darkgray;
	padding: 10px;
	font: "Arial";
	font-size: 2em;
	text-align: center;
	text-transform: uppercase;

}

ul.menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 20%;
	height: 100%;
	position: fixed;
	overflow: auto;
	background-color: gray;
	border: 3px solid black;

}

li.nav a {
	display: block;
	color: white;
	padding: 6px 10px;
	text-decoration: none;
	text-align: center;
	border-bottom: 1px solid black;
}

li.nav a.active {
	background-color: orange;
	color: black;
}
li.nav a:hover:not(.active) {
	background-color: white;
	color: black;
}
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

img {
	max-width: 25%;
	height: auto;
	border-radius: 7px;
	float: right;
}
article {
	position: fixed;
	width: 79.7%;
	height: 100%;
	float: right;
	margin-left: 20%;
	background-color: black;
	color: white;
	box-sizing: border-box;
	padding-left: 30px;
	padding: 20px;
	overflow-y: scroll;
	overflow-x: visible;
}
.menu > li {
  display: inline;
}

